/* Основной цвет текста  color: #212121; --title-text-color:#212121; */
/* цвет фона background: #FFFFFF;        --primari-white-color:#FFFFFF;*/
/* Цвет футера background: #2F303A;        --footer-color: #2F303A;*/
/* цвет кнопки background: #2196F3;        --hover-button-color: #2196F3;*/
/* цвет текста футер и шапка color: #757575; --primari-text-color: #757575; */

:root {
--title-text-color: #212121;
--primari-white-color:#FFFFFF;
--primari-text-color: #757575;
--hover-button-color: #2196F3;
--footer-color: #2F303A;
}

ul {
    list-style: none;
}

